body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-buttons a img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s;
}

.social-buttons a img:hover {
    transform: scale(1.1);
}
